<div>Appliance Name &nbsp; <input type="text" ng-model="appliance.appName"  ng-init="appliance.appName=' '"> </div>
<div>Parameter 1 &nbsp; <input type="text" ng-model="appliance.param1" ng-init="appliance.param1=' '"> </div>
<div>Parameter 2 &nbsp; <input type="text" ng-model="appliance.param2" ng-init="appliance.param2=' '"> </div>
<div>Parameter 3 &nbsp; <input type="text" ng-model="appliance.param3" ng-init="appliance.param3=' '"> </div>
<div><button ng-click="addApp()">Save</button>&nbsp;<button onclick="goBack()">Cancel</button></div>

